@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* --------------------------------------------
 * Global Variables
 * -------------------------------------------- */

$topBarHeight: 35px;
$tabBarHeight: 22px;
$lineNumbersWidth: 45px;
$themeColor: #4d4d4d;
$fontColor: #ebebeb;
$leftMenuWidth: 200px;


*, *:after, *:before {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 1em;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

#topBar {
  width: 100%;
  height: $topBarHeight;
  background: $themeColor;
  padding: 4px;
}

#tabBar {
  width: calc(100% - #{$leftMenuWidth});
  height: $tabBarHeight;
  background: $themeColor;
  float: left;
}

#leftMenu {
  width: 200px;
  float: left;
  height: calc(100% - #{$topBarHeight});
  background: $themeColor;
  border-right: 1px solid rgb(80,80,80);
}

#editor {
  height: calc(100% - #{$topBarHeight + $tabBarHeight});
  width: calc(100% - 200px);
  float: left;
  background: rgb(100,100,100);
  font-family: consolas;
  font-size: 1em;
  line-height: 1em;
  color: $fontColor;
}

#editorInput {
  height: 100%;
  width: calc(100% - #{$lineNumbersWidth});
  float: left;
  padding: 0;
  border: none;
  resize: none;
  margin-left: calc(-100% + #{$lineNumbersWidth});
  background: transparent;
  color: transparent;
  /*color: #f00;*/
  font-family: consolas;
  font-size: 1em;
  line-height: 1em;
  overflow: auto;
  /*padding: 5px;*/
}

#editorInput:focus {
  outline: none;
}

#editorOutput {
  height: 100%;
  width: calc(100% - #{$lineNumbersWidth});
  /*width: 100%;*/
  float: left;background: transparent;
  overflow: hidden;
}

#editorOutputText {
  /*padding: 5px;*/
  margin: 0;
  font-family: consolas;
  overflow: hidden;
}

#caret {
  height: 0.9em;
  width: 2px;
  background: #ebebeb;
  position: absolute;
  /**margin-left: $lineNumbersWidth;*/
  color: $fontColor;
  top: -200px;
  /*margin-left: 5px;*/
  /*margin-top: 5px;*/

}

.blink {
  -webkit-animation: blink 1s ease-in infinite;
          animation: blink 1s ease-in infinite;
}

#hiddenSpan {
  position: absolute;
  top: -100px;
  font-family: consolas;
  font-size: 1em;
}

#lineNumbersPanel {
  float: left;
  width: $lineNumbersWidth;
  height: 100%;
  background: #222;
  text-align: right;
  padding-right: 10px;
  overflow: hidden;
  line-height: 1em;
  font-family: consolas;
  font-size: 1em;
  line-height: 1em;
  resize: none;
  padding: 0;
  color: rgba(1,128,228,1);
  border: none;
}

#lineNumbersPanel:focus {
  outline: none;
}

#currentLineHighlight {
  background: rgba(214, 214, 214, 0.28);
  width: calc(100% - #{$lineNumbersWidth + $leftMenuWidth});
  height: 1em;
  margin-left: $lineNumbersWidth;
  position: absolute;
  pointer-events: none;
}

#addNewFile {
  width: 50px;
  float: left;
}

#addNewFile:hover {
  width: 100px;
}

.tab {
  text-align: center;
  display: block;
  width: 100px;
  float: left;
  color: rgba(226,226,226,.6);
  background: black;
  border-radius: 20px;
  cursor: pointer;
  padding: 3px 0;
  margin-left: 5px;
  transition: .25s all;
  box-shadow: 0px 1px 0px rgba(255,255,255,.4) inset;
}

.tab:hover {
  color: rgba(1,128,228,1);
  background: rgba(25,25,25,1);
  box-shadow: 0px 1px 0px rgba(0,0,0,.4) inset, 0px 1px 0px rgba(255,255,255,.4);
}

.tab > span {
  opacity: .5;
  padding-left: 5px;
  padding-top: 2px;
  font-size: .9em;
}

.tab > span:hover {
  opacity: 1;
}

.tab:first-child {
  margin-left: 0px;
}

.tab.active {
  color: rgba(1,128,228,1);
  background: rgba(25,25,25,1);
  box-shadow: 0px 1px 0px rgba(0,0,0,.4) inset, 0px 1px 0px rgba(255,255,255,.4);
}

.button {
  display: block;
  background: #569e3d;
  border-radius: 5px;
  height: 29px;
  width: 140px;
  line-height: 29px;
  text-align: center;
  font-weight: 400;
  float: right;
  color: lightgray;
  text-shadow: -1px -1px rgba(0,0,0,.45);
  box-shadow: 0 0 2px rgba(0,0,0,.5);
}

.button:hover {
  background: lighten(#569e3d, 5%);
  cursor: pointer;
}

.username {
  display: block;
  float: right;
  line-height: 29px;
  text-align: center;
  color: $fontColor;
  padding: 0 8px;
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
}