@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* --------------------------------------------
 * Global Variables
 * -------------------------------------------- */

$topBarHeight: 35px;
$tabBarHeight: 22px;
$lineNumbersWidth: 45px;
$themePrimaryColor: #222;
$themeSecondaryColor: #4e4d4d;
$themeHoverColor: #1b2e46;
$themeFontColor: #ccc;
$fontColor: #ebebeb;
$githubButtonColor: #49795d;
$leftMenuWidth: 200px;


*, *:after, *:before {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1em;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

#topBar {
  width: 100%;
  height: $topBarHeight;
  background: $themePrimaryColor;
  padding: 4px;
}

#tabBar {
  width: calc(100% - #{$leftMenuWidth});
  height: $tabBarHeight;
  background: $themePrimaryColor;
  float: left;
}

#leftMenu {
  width: 200px;
  float: left;
  height: calc(100% - #{$topBarHeight});
  background: $themePrimaryColor;
  padding-top: $tabBarHeight;
}

#editor {
  height: calc(100% - #{$topBarHeight + $tabBarHeight});
  width: calc(100% - 200px);
  float: left;
  padding: 8px 0 0 8px;
  background: $themeSecondaryColor;
  font-family: consolas;
  font-size: 1em;
  line-height: 1em;
  color: $fontColor;
}

#editorInput {
  height: 100%;
  width: calc(100% - #{$lineNumbersWidth});
  float: left;
  padding: 0;
  border: none;
  resize: none;
  margin-left: calc(-100% + #{$lineNumbersWidth});
  background: transparent;
  color: transparent;
  font-family: consolas;
  font-size: 1em;
  line-height: 1em;
  overflow: auto;
}

#editorInput:focus {
  outline: none;
}

#editorOutput {
  height: 100%;
  width: calc(100% - #{$lineNumbersWidth});
  float: left;
  background: transparent;
  overflow: hidden;
}

#editorOutputText {
  margin: 0;
  font-family: consolas;
  overflow: hidden;
}

#caret {
  height: 0.9em;
  width: 2px;
  background: #ebebeb;
  position: absolute;
  color: $fontColor;
  top: -200px;

}

.blink {
  -webkit-animation: blink 1s ease-in infinite;
          animation: blink 1s ease-in infinite;
}

#hiddenSpan {
  position: absolute;
  top: -100px;
  font-family: consolas;
  font-size: 1em;
}

#lineNumbersPanel {
  float: left;
  width: $lineNumbersWidth;
  height: 100%;
  background: $themePrimaryColor;
  text-align: right;
  overflow: hidden;
  line-height: 1em;
  font-family: consolas;
  font-size: 1em;
  line-height: 1em;
  resize: none;
  padding: 0 5px 0 0;
  color: #0180e4;
  border: none;
}

#lineNumbersPanel:focus {
  outline: none;
}

#currentLineHighlight {
  background: rgba(214, 214, 214, 0.28);
  width: calc(100% - #{$lineNumbersWidth + $leftMenuWidth});
  height: 1em;
  margin-left: $lineNumbersWidth;
  position: absolute;
  pointer-events: none;
}

#addNewFile {
  width: 50px;
  float: left;
}

#addNewFile:hover {
  width: 100px;
}

.tab {
  text-align: center;
  display: block;
  width: 100px;
  height: 100%;
  float: left;
  color: $themeFontColor;
  background: $themePrimaryColor;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
  padding: 3px 0;
  margin-left: 5px;
  transition: .25s all;
}

.tab:hover {
  background: $themeHoverColor;
}

.tab > span {
  opacity: .5;
  padding-left: 5px;
  padding-top: 2px;
  font-size: .9em;
}

.tab > span:hover {
  opacity: 1;
}

.tab:first-child {
  margin-left: 0px;
}

.tab.active {
  color: $themeFontColor;
  background: $themeSecondaryColor;
}

.button {
  display: block;
  background: $githubButtonColor;
  border-radius: 3px;
  height: 29px;
  width: 140px;
  line-height: 29px;
  text-align: center;
  font-weight: 400;
  font-size: 1.1em;
  float: right;
  color: $fontColor;
}

.button:hover {
  background: lighten($githubButtonColor, 5%);
  cursor: pointer;
}

.username {
  display: block;
  float: right;
  line-height: 29px;
  text-align: center;
  color: $fontColor;
  padding: 0 8px;
}

.hidden {
  display: none;
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
}